$input-color: #99a3ba;
$input-border: #cdd9ed;
$input-background: #fff;
$input-placeholder: #cbd1dc;
$input-border-focus: #275efe;

body {
  min-height: 100vh;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #f5f9ff;
}

.form__input {
  display: block;
  width: 100%;
  padding: 8px 16px;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  border-radius: 6px;
  -webkit-appearance: none;
  color: $input-color;
  border: 1px solid $input-border;
  background: $input-background;
  transition: border 0.3s ease;
  &::placeholder {
    color: $input-placeholder;
  }
  &:focus {
    outline: none;
    border-color: $input-border-focus;
  }
}
